@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background: rgb(33,33,33);
    background: linear-gradient(100deg, rgb(0, 0, 0) 0%, rgba(6,13,29,1) 50%, rgba(0,0,0,1) 100%);
    background-attachment: fixed;
    height: 100%;
}
.cta-button{
    display: block;
    border-radius: 50px;
    background: rgb(33,33,33);
    background: linear-gradient(330deg, rgba(33,33,33,1) 0%, rgba(23,38,55,1) 100%);
    padding: 10px;
    text-align: center;
    color:#fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: all ease 0.3s;
    i{
        margin-right: 10px;
    }
    &:hover{
        transition: all ease 0.3s;
        background: linear-gradient(120deg, rgba(33,33,33,1) 0%, rgba(23,38,55,1) 100%);
        color: #fff;
    }
}
.content-card-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 35px 50px;
    border-radius: 10px;
    margin-bottom: 100px;
}
.main-header{
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 30px;
}
.sub-header{
    color:#fff;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 25px;
}
.custom-badge{
    background-color: rgba(255, 255, 255, 0.1);
    color: #b1b1b1;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 10px;
}
@media screen and (max-width:768px ) {
    body{
        padding: 10px;
    }
    .main-row{
        flex-direction: column-reverse;
    }
    .content-card-container{
        margin-bottom: 200px;
        padding: 30px 20px;
    }
}